BODY {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	position: absolute;
	width:100%;
	height:100%
}
#wrap{
	height:100%;
}

#loginFoot {
	BACKGROUND: #ddd;
	TEXT-ALIGN: center;
	FONT: 14px;
	margin-top: -4%;
}

#copyright {
	MARGIN: 0px auto;
	FONT: 0.7em/300% Verdana;
}

#logoImage {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

#loginFormCont {
	BACKGROUND: none transparent scroll repeat 0% 0%
}

#loginForm {
	MARGIN: 88px 0px 0px 60px
}

#loginForm TABLE {
	FONT: 14px 'ו';
}

#loginForm LABEL {
	PADDING-LEFT: 3px
}

#loginForm INPUT {
	BORDER: #000 0px solid;
	PADDING-LEFT: 2px;
	FONT: 14px 'ו';
	HEIGHT: 20px
}

#loginForm INPUT:focus {
	BORDER-RIGHT: #fe8101 1px solid;
	BORDER-TOP: #fe8101 1px solid;
	BORDER-LEFT: #fe8101 1px solid;
	BORDER-BOTTOM: #fe8101 1px solid
}

#loginForm BUTTON {
	BORDER-RIGHT: medium none;
	PADDING-RIGHT: 0px;
	BORDER-TOP: medium none;
	PADDING-LEFT: 0px;
	BACKGROUND: none transparent scroll repeat 0% 0%;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	BORDER-LEFT: medium none;
	WIDTH: 222px;
	PADDING-TOP: 0px;
	BORDER-BOTTOM: medium none
}

.login_tips {
	BORDER-RIGHT: #ebebeb 1px solid;
	BORDER-TOP: #ebebeb 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #ebebeb 1px solid;
	WIDTH: 270px;
	COLOR: #e9e9e9;
	BORDER-BOTTOM: #ebebeb 1px solid;
	BACKGROUND-COLOR: #246991
}

.login_tips TH {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 5px;
	COLOR: #ffffff;
	PADDING-TOP: 5px;
	BACKGROUND-COLOR: #0b2e54;
	TEXT-ALIGN: left
}

.login_tips TD {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 20px;
	PADDING-TOP: 10px
}

.login_tipst {
	FONT-WEIGHT: bold;
	COLOR: #ffffff
}

.signin {
	FONT-SIZE: 12px
}

.signin TR {
	height: 35px;
}

.signin TD {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px
}

a.copy:link,a.copy:visited,a.copy:hover,a.copy:active {
	color: black;
	text-decoration: none;
}